.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 600px;
}

.search {
  width: 600px;
  margin: 20px auto;
}

.stars {
  width: 25px;
}

.img-fluid {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 220px;
  display: inline-block;
}

a {
  color: red;
  text-decoration: none;
}

.detail {
  width: 600px;
  margin: 20px auto;
}

.form-control {
  width: 350px;
  margin: 0 auto;
}

.datePick {
  margin-bottom: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container-res {
  width: 600px;
  margin: 0 auto;
}

.secondPick {
  margin-top: 20px;
  margin-bottom: 20px;
}

.result {
  margin-top: 20px;
  width: 200px;
  float: right;
}
.card{
  width: 550px;
  margin: 15px auto;
}
.card-body{
  padding: 20px 10px;
}
.alert-success{
  width: 550px;
  margin: 0 auto;
}
.text-danger{
  margin-left: 10px;
}
.btn-outline-dark{
  margin-left: 10px;
}
.alert{
  width: 550px;
  margin: 0 auto;
}
.del{
  margin-top: 15px;
}
.container-res{
  margin-top: 20px;
}